<?xml version="1.0"?>
<!--
/**
 * @author Eric COURTIAL <e.courtial30@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="customer" translate="label" sortOrder="300">
            <label>Customers</label>
        </tab>
        <section id="customer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer Configuration</label>
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
            <group id="create_account" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Create New Account Options</label>
                <field id="customer_account_activation" translate="label comment" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer accounts need to be activated by an admin user</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_account_activation_confirmation_template" translate="label comment" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account activated confirmation email template</label>
                    <source_model>Enrico69\Magento2CustomerActivation\Model\EmailTemplateList</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
